<table *ngIf="myHomesList.length; else noHomes" class="table">
    <thead>
        <tr>
            <th>Listing</th>
            <th>City</th>
            <th>State</th>
            <th>Available Units</th>
            <th>Applied</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <ng-template ngFor let-myHome [ngForOf]="myHomesList" let-i="index">
            <tr data-testid="table-listing-row">
                <td data-testid="table-listing-data-name">{{ myHome.name }}</td>
                <td data-testid="table-listing-data-city">{{ myHome.city }}</td>
                <td data-testid="table-listing-data-state">{{ myHome.state }}</td>
                <td data-testid="table-listing-data-available-units">{{ myHome.availableUnits }}</td>
                <!-- <td>{{ myHome.applicationSubmitted }}</td> -->
                <td>
                    <div *ngIf="myHome.applicationSubmitted; then thenBlock else elseBlock"></div>
                    <ng-template #thenBlock><i class="bi bi-check-circle-fill" data-testid="table-listing-application-submitted"></i></ng-template>
                    <ng-template #elseBlock><i class="bi bi-x-circle-fill" data-testid="table-listing-application-submitted"></i></ng-template>
                </td>
                <td>
                    <!-- Button trigger modal -->
                    <i class="bi bi-trash-fill" [attr.data-testid]="'delete-button-' + myHome.name" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
        
        
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Remove Listing</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to remove {{ myHome.name }} from your list?
                            </div>
                            <div class="modal-footer">
                                <button data-testid="cancel-delete-button" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button data-testid="confirm-delete-button" type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="onDelete(myHome._id, myHome.name)">Delete</button>
                            </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </ng-template>
    </tbody>
</table>

<ng-template #noHomes>
    <p>There are currently no saved listings.</p>
</ng-template>

